Repository psi4/psi4, pull requests merged in 2021-08, with the labels that each got.

#2247 Move Iteration Header Printing
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/src/psi4/libscf_solver/mom.cc
Labels: cleanup, scf

#2257 Watch for Const Wfn Members in DMRG
  psi4/src/psi4/dmrg/dmrgscf.cc
Labels: external-interface, cleanup

#2269 release proc update. drop py36.
  .azure-pipelines/azure-pipelines-linux.yml
  .azure-pipelines/azure-pipelines-windows.yml
  CMakeLists.txt
  doc/sphinxman/source/manage_release.rst
Labels: documentation, build

#2270 MOM Bugfix and Test
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/src/export_wavefunction.cc
  psi4/src/psi4/libscf_solver/hf.cc
  psi4/src/psi4/libscf_solver/hf.h
  psi4/src/psi4/libscf_solver/mom.cc
  tests/CMakeLists.txt
  tests/frac/CMakeLists.txt
  tests/mom-h2o-3/CMakeLists.txt
  tests/mom-h2o-3/input.dat
  tests/mom-h2o-4/CMakeLists.txt
  tests/mom-h2o-4/input.dat
  tests/mom/CMakeLists.txt
Labels: scf, correctness-error

#2271 Fix in handling of frozen core orbitals in SAPT
  doc/sphinxman/source/sapt.rst
  psi4/driver/procrouting/proc.py
  psi4/src/export_mints.cc
  tests/CMakeLists.txt
  tests/sapt11/CMakeLists.txt
  tests/sapt11/input.dat
  tests/sapt11/output.ref
Labels: correctness-error, sapt

#2250 DFTensor for DCT
  psi4/src/psi4/dct/CMakeLists.txt
  psi4/src/psi4/dct/dct.h
  psi4/src/psi4/dct/dct_df_operations.cc
  psi4/src/psi4/dct/dct_df_tensor.cc
  psi4/src/psi4/dct/dct_df_tensor.h
  psi4/src/psi4/dct/dct_integrals_RHF.cc
  psi4/src/psi4/dct/dct_integrals_UHF.cc
Labels: dct, cleanup

#2274 might fix docs
  doc/sphinxman/source/manage_release.rst
Labels: documentation
