Repository psi4/psi4, pull requests merged in 2021-07, with the labels that each got.

#2233 DF-DCT with Linear Dependencies
  psi4/src/psi4/dct/dct_df_tensor.cc
  psi4/src/psi4/dct/dct_oo_RHF.cc
  psi4/src/psi4/dct/dct_oo_UHF.cc
  tests/CMakeLists.txt
  tests/dct10/output.ref
  tests/dct11/CMakeLists.txt
  tests/dct11/input.dat
  tests/dct11/output.ref
Labels: crash, dct

#2190 SCF checkpointing update
  doc/sphinxman/CMakeLists.txt
  doc/sphinxman/source/external.rst
  doc/sphinxman/source/scf.rst
  psi4/driver/driver.py
  psi4/driver/p4util/procutil.py
  psi4/driver/procrouting/proc.py
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/src/read_options.cc
  tests/CMakeLists.txt
  tests/pytests/test_restart.py
  tests/serial-wfn/CMakeLists.txt
  tests/serial-wfn/input.dat
Labels: api, crash, scf

#2246 Port Björn Esser's patch for flexiblas support from Fedora
  CMakeLists.txt
  cmake/math/ConfigMath.cmake
  cmake/math/MathLibs.cmake
Labels: build

#2210 [Small, Important Change] Changed phi_ao code to support puream basis sets
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/basisset.cc
  tests/CMakeLists.txt
  tests/phi-ao/CMakeLists.txt
  tests/phi-ao/input.dat
  tests/phi-ao/output.ref
Labels: correctness-error

#2249 OCC: Don't reset orbitals
  psi4/src/psi4/occ/occwave.cc
Labels: api, crash, occ

#2248 More doublet, less code
  psi4/src/psi4/dfmp2/mp2.cc
Labels: cleanup, dfmp2

#2229 Molden Writer update
  psi4/driver/p4util/writer.py
  psi4/src/psi4/libmints/writer.cc
  psi4/src/psi4/libmints/writer.h
  tests/pytests/test_molden_writer.py
  tests/pytests/test_molden_writer/dorbs_cartesian.ref
  tests/pytests/test_molden_writer/dorbs_spherical.ref
  tests/pytests/test_molden_writer/dovirt_false.ref
  tests/pytests/test_molden_writer/h2o_normal.ref
  tests/pytests/test_molden_writer/orbso_density.ref
  tests/pytests/test_molden_writer/orbso_detci.ref
  tests/pytests/test_molden_writer/ref_rohf.ref
  tests/pytests/test_molden_writer/ref_uhf.ref
  tests/pytests/test_molden_writer/sym_trivial.ref
Labels: correctness-error, external-interface
