Repository psi4/psi4, pull requests merged in 2022-05, with the labels that each got.

#2552 ddd modifications to findif
  psi4/driver/driver.py
  psi4/driver/driver_findif.py
  tests/psimrcc-fd-freq1/input.dat
  tests/pytests/test_vibanalysis.py
  tests/scf-uhf-grad-nobeta/input.dat
Labels: driver

#2561 Initial `fnocc` cleanup
  psi4/src/psi4/fnocc/ccsd.h
  psi4/src/psi4/fnocc/df_ccsd.cc
  psi4/src/psi4/fnocc/df_scs.cc
  psi4/src/psi4/fnocc/frozen_natural_orbitals.cc
  psi4/src/psi4/fnocc/frozen_natural_orbitals.h
Labels: fnocc, cleanup

#2328 Add saving for T-amplitudes to the QCSchema wrapper.
  psi4/driver/schema_wrapper.py
  tests/json/CMakeLists.txt
  tests/json/schema-1-tamps/CMakeLists.txt
  tests/json/schema-1-tamps/input.py
Labels: schema

#2570 DMRG density to wavefunction
  psi4/driver/procrouting/proc.py
  psi4/src/export_wavefunction.cc
  psi4/src/psi4/cc/ccdensity/ccdensity.cc
  psi4/src/psi4/cc/ccdensity/wfn_saver.cc
  psi4/src/psi4/dmrg/dmrgscf.cc
  psi4/src/psi4/libmints/wavefunction.h
Labels: api, external-interface

#2568 FNOCC df Pair Energies
  doc/sphinxman/source/glossary_psivariables.rst
  psi4/src/psi4/fnocc/ccsd.h
  psi4/src/psi4/fnocc/df_ccsd.cc
  psi4/src/psi4/fnocc/df_scs.cc
  psi4/src/psi4/fnocc/frozen_natural_orbitals.cc
  tests/fnocc4/input.dat
  tests/fnocc4/output.ref
Labels: api, fnocc
