Repository psi4/psi4, pull requests merged in 2022-08, with the labels that each got.

#2650 DFHelper Readability 1
  psi4/src/psi4/lib3index/dfhelper.cc
  psi4/src/psi4/lib3index/dfhelper.h
Labels: cleanup

#2649 SAPT Metric Cleanup
  psi4/src/psi4/libsapt_solver/sapt.cc
  psi4/src/psi4/libsapt_solver/sapt.h
  psi4/src/psi4/libsapt_solver/sapt0.cc
  psi4/src/psi4/libsapt_solver/sapt2.cc
Labels: cleanup

#2653 conventional REMP2 and OREMP2
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  .github/workflows/ecosystem.yml
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/glossary_psivariables.rst
  doc/sphinxman/source/occ.rst
  external/upstream/qcengine/CMakeLists.txt
  psi4/driver/driver_cbs.py
  psi4/driver/p4util/fchk.py
  psi4/driver/procrouting/proc.py
  psi4/driver/procrouting/proc_table.py
  psi4/driver/task_base.py
  psi4/src/psi4/libdpd/contract444.cc
  psi4/src/psi4/occ/CMakeLists.txt
  psi4/src/psi4/occ/cc_energy.cc
  psi4/src/psi4/occ/ccl_energy.cc
  psi4/src/psi4/occ/cepa_iterations.cc
  psi4/src/psi4/occ/coord_grad.cc
  psi4/src/psi4/occ/corr_tpdm.cc
  psi4/src/psi4/occ/gfock.cc
  psi4/src/psi4/occ/gfock_diag.cc
  psi4/src/psi4/occ/manager.cc
  psi4/src/psi4/occ/occ_iterations.cc
  psi4/src/psi4/occ/occwave.cc
  psi4/src/psi4/occ/occwave.h
  psi4/src/psi4/occ/ocepa_response_pdms.cc
  psi4/src/psi4/occ/postprocessing.cc
  psi4/src/psi4/occ/set_t2_amplitudes_mp2.cc
  psi4/src/psi4/occ/t2_amps_remp.cc
  psi4/src/read_options.cc
  pytest.ini
  tests/CMakeLists.txt
  tests/ddd-function-kwargs/input.dat
  tests/fsapt-d/test_input.py
  tests/fsaptd-terms/test_input.py
  tests/nbody-multi-level-2/input.dat
  tests/omp2p5-2/input.dat
  tests/oremp-engrad1/CMakeLists.txt
  tests/oremp-engrad1/input.dat
  tests/oremp-engrad1/output.ref
  tests/oremp-engrad1/test_input.py
  tests/oremp-engrad2/CMakeLists.txt
  tests/oremp-engrad2/input.dat
  tests/oremp-engrad2/output.ref
  tests/oremp-engrad2/test_input.py
  tests/pytests/standard_suite_ref_local.py
  tests/pytests/standard_suite_runner.py
  tests/pytests/test_standard_suite.py
  tests/remp-energy1/CMakeLists.txt
  tests/remp-energy1/input.dat
  tests/remp-energy1/output.ref
  tests/remp-energy1/test_input.py
  tests/remp-energy2/CMakeLists.txt
  tests/remp-energy2/input.dat
  tests/remp-energy2/output.ref
  tests/remp-energy2/test_input.py
Labels: enhancement, feature, occ

#2671 Fix memory leak in ROHF stability
  psi4/src/psi4/libscf_solver/rohf.cc
Labels: cleanup

#2619 Compute, Don't Store, DOCC/SOCC
  external/downstream/v2rdm_casscf/CMakeLists.txt
  psi4/src/export_wavefunction.cc
  psi4/src/psi4/adc/adc.cc
  psi4/src/psi4/adc/adc.h
  psi4/src/psi4/cc/ccenergy/MOInfo.h
  psi4/src/psi4/cc/ccenergy/form_df_ints.cc
  psi4/src/psi4/cc/ccenergy/get_moinfo.cc
  psi4/src/psi4/cc/ccwave.h
  psi4/src/psi4/dct/dct_gradient_RHF.cc
  psi4/src/psi4/dct/dct_gradient_UHF.cc
  psi4/src/psi4/dct/dct_memory.cc
  psi4/src/psi4/dct/dct_oo_RHF.cc
  psi4/src/psi4/dct/dct_oo_UHF.cc
  psi4/src/psi4/detci/ciwave.cc
  psi4/src/psi4/detci/params.cc
  psi4/src/psi4/dfocc/get_moinfo.cc
  psi4/src/psi4/fnocc/ccsd.cc
  psi4/src/psi4/fnocc/df_ccsd.cc
  psi4/src/psi4/fnocc/frozen_natural_orbitals.cc
  psi4/src/psi4/fnocc/opdm.cc
  psi4/src/psi4/libmints/wavefunction.cc
  psi4/src/psi4/libmints/wavefunction.h
  psi4/src/psi4/libqt/qt.h
  psi4/src/psi4/libqt/reorder_qt.cc
  psi4/src/psi4/libscf_solver/cuhf.cc
  psi4/src/psi4/libscf_solver/hf.cc
  psi4/src/psi4/libscf_solver/hf.h
  psi4/src/psi4/libscf_solver/mom.cc
  psi4/src/psi4/libscf_solver/rhf.cc
  psi4/src/psi4/libscf_solver/rohf.cc
  psi4/src/psi4/libscf_solver/sad.cc
  psi4/src/psi4/libscf_solver/uhf.cc
  psi4/src/psi4/mcscf/scf_save_info.cc
  psi4/src/psi4/occ/get_moinfo.cc
  psi4/src/psi4/occ/occwave.h
Labels: wavefunction, cleanup

#2672 Remove unused approximate excitation level (AEL) code
  psi4/src/psi4/cc/ccdensity/CMakeLists.txt
  psi4/src/psi4/cc/ccdensity/Params.h
  psi4/src/psi4/cc/ccdensity/ael.cc
  psi4/src/psi4/cc/ccdensity/ccdensity.cc
  psi4/src/psi4/cc/ccdensity/get_params.cc
  psi4/src/read_options.cc
Labels: cc, cleanup

#2654 DFHelper Readability 2
  psi4/src/psi4/lib3index/dfhelper.cc
  psi4/src/psi4/lib3index/dfhelper.h
Labels: cleanup

#2639 Fix 2635
  psi4/driver/procrouting/mcscf/mcscf_solver.py
  psi4/src/read_options.cc
Labels: documentation, cleanup

#2673 dftensor memory estimation overrun
  psi4/src/psi4/fnocc/df_ccsd.cc
  psi4/src/psi4/lib3index/dftensor.cc
Labels: bug, fnocc

#2677 Remove unused Wabei_RHF_FT2_a function and file
  psi4/src/psi4/cc/cchbar/CMakeLists.txt
  psi4/src/psi4/cc/cchbar/Wabei_RHF_FT2_a.cc
Labels: cc, cleanup

#2679 Remove unused diagonalizers and linear solvers from occwave::Array2d and occwave::SymBlockMatrix
  psi4/src/psi4/occ/arrays.cc
  psi4/src/psi4/occ/arrays.h
  psi4/src/psi4/occ/dpd.cc
  psi4/src/psi4/occ/dpd.h
Labels: cleanup, occ

#2667 Add customizable FREEZE_CORE policy option
  psi4/src/psi4/libmints/basisset.cc
  psi4/src/read_options.cc
  tests/dfmp2-ecp/input.dat
Labels: libmints

#2628 Refactor `Vector` and `IntVector`
  external/downstream/v2rdm_casscf/CMakeLists.txt
  psi4/driver/p4util/numpy_helper.py
  psi4/src/core.cc
  psi4/src/export_mints.cc
  psi4/src/psi4/adc/adc.cc
  psi4/src/psi4/adc/adc.h
  psi4/src/psi4/adc/compute_energy.cc
  psi4/src/psi4/dct/dct.cc
  psi4/src/psi4/dct/dct.h
  psi4/src/psi4/dct/dct_intermediates_RHF.cc
  psi4/src/psi4/dct/dct_intermediates_UHF.cc
  psi4/src/psi4/dct/dct_memory.cc
  psi4/src/psi4/dct/dct_qc.cc
  psi4/src/psi4/dct/dct_scf_RHF.cc
  psi4/src/psi4/dct/dct_scf_UHF.cc
  psi4/src/psi4/dct/dct_tau_RHF.cc
  psi4/src/psi4/dct/dct_tau_UHF.cc
  psi4/src/psi4/dct/dct_triples.cc
  psi4/src/psi4/detci/ints.cc
  psi4/src/psi4/dlpno/mp2.cc
  psi4/src/psi4/fnocc/ccsd.cc
  psi4/src/psi4/fnocc/frozen_natural_orbitals.cc
  psi4/src/psi4/lib3index/fittingmetric.cc
  psi4/src/psi4/libfock/DFJCOSK.cc
  psi4/src/psi4/libfock/hamiltonian.cc
  psi4/src/psi4/libfock/solver.cc
  psi4/src/psi4/libmints/deriv.cc
  psi4/src/psi4/libmints/electrostatic.h
  psi4/src/psi4/libmints/integral.cc
  psi4/src/psi4/libmints/intvector.cc
  psi4/src/psi4/libmints/matrix.cc
  psi4/src/psi4/libmints/matrix.h
  psi4/src/psi4/libmints/oeprop.cc
  psi4/src/psi4/libmints/vector.cc
  psi4/src/psi4/libmints/vector.h
  psi4/src/psi4/libmints/wavefunction.cc
  psi4/src/psi4/libpsipcm/psipcm.cc
  psi4/src/psi4/libqt/blas_intfc.cc
  psi4/src/psi4/libqt/qt.h
  psi4/src/psi4/libsapt_solver/fdds_disp.cc
  psi4/src/psi4/libscf_solver/hf.cc
  psi4/src/psi4/libscf_solver/hf.h
  psi4/src/psi4/libscf_solver/rohf.cc
  psi4/src/psi4/occ/arrays.cc
  psi4/src/psi4/occ/ekt_ea.cc
  psi4/src/psi4/occ/ekt_ip.cc
  psi4/src/psi4/occ/ep2_ip.cc
  psi4/src/psi4/occ/occ_iterations.cc
  psi4/src/psi4/occ/occwave.cc
  psi4/src/psi4/occ/omp2_ip_poles.cc
  psi4/src/psi4/occ/omp3_ip_poles.cc
  psi4/src/psi4/occ/semi_canonic.cc
  tests/pytests/test_vector.py
Labels: libmints, cleanup

#2689 Change COSX default
  doc/sphinxman/source/scf.rst
  psi4/src/read_options.cc
Labels: scf

#2692 Fix `c1_deep_copy`
  psi4/src/psi4/libmints/wavefunction.cc
  psi4/src/psi4/libmints/wavefunction.h
  psi4/src/psi4/libscf_solver/cuhf.cc
  psi4/src/psi4/libscf_solver/rhf.cc
  psi4/src/psi4/libscf_solver/rohf.cc
  psi4/src/psi4/libscf_solver/uhf.cc
Labels: crash, libmints

#2669 dfocc: coupled DIIS, long int, and testing
  psi4/driver/procrouting/proc.py
  psi4/driver/procrouting/proc_table.py
  psi4/src/psi4/dfocc/ccd_iterations.cc
  psi4/src/psi4/dfocc/ccd_t2_amps.cc
  psi4/src/psi4/dfocc/dfocc.cc
  psi4/src/psi4/dfocc/dfocc.h
  psi4/src/psi4/dfocc/lccd_t2_amps.cc
  psi4/src/psi4/dfocc/manager.cc
  psi4/src/psi4/dfocc/manager_cd.cc
  psi4/src/psi4/dfocc/occ_iterations.cc
  psi4/src/psi4/dfocc/t2_1st_gen.cc
  psi4/src/psi4/dfocc/t2_2nd_gen.cc
  psi4/src/psi4/dfocc/update_mo.cc
  psi4/src/read_options.cc
  tests/pytests/standard_suite_runner.py
  tests/pytests/test_fchk_writer/rhf-omp2.ref
  tests/pytests/test_standard_suite.py
Labels: enhancement, testing, dfocc

#2666 Remove legacy check
  psi4/src/psi4/detci/get_mo_info.cc
  psi4/src/psi4/detci/globaldefs.h
  psi4/src/psi4/detci/structs.h
Labels: cleanup

#2707 DLPNO Mulliken Bug Fix
  psi4/src/psi4/dlpno/mp2.cc
Labels: cleanup
