Repository psi4/psi4, pull requests merged in 2022-10, with the labels that each got.

#2722 Allow non-symmetric matrix <-> dpdfile2
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/matrix.cc
  psi4/src/psi4/libmints/matrix.h
  tests/CMakeLists.txt
  tests/matrix2/CMakeLists.txt
  tests/matrix2/input.dat
  tests/matrix2/test_input.py
Labels: testing, libdpd, libmints

#2734 `set_block` with `symmetry_`
  psi4/src/psi4/libmints/matrix.cc
  tests/pytests/test_matrix.py
Labels: libmints

#2741 Coalesce PSIO system call macros
  psi4/src/psi4/libpsio/close.cc
  psi4/src/psi4/libpsio/filemanager.cc
  psi4/src/psi4/libpsio/open.cc
  psi4/src/psi4/libpsio/psio.h
  psi4/src/psi4/libpsio/rw.cc
  psi4/src/psi4/libpsio/toclen.cc
  psi4/src/psi4/libpsio/volseek.cc
Labels: libpsio, cleanup

#2729 Checked matrix size compatability in gemm() Issue #2226
  psi4/src/psi4/libmints/matrix.cc
Labels: libmints, cleanup

#2750 update for geometric 1.0
  .azure-pipelines/azure-pipelines-linux.yml
  psi4/driver/driver.py
Labels: external-interface, build-blocker

#2740 Transpose with symmetry_
  psi4/src/psi4/libmints/matrix.cc
  tests/pytests/test_matrix.py
Labels: crash, libmints

#2745 Standardize `Matrix::back_transform`
  psi4/src/psi4/libmints/matrix.cc
  tests/pytests/test_matrix.py
Labels: crash, libmints, cleanup

#2751 Move LTD/RTD and Integrals to `Matrix`
  psi4/src/psi4/cc/ccdensity/MOInfo.h
  psi4/src/psi4/cc/ccdensity/ccdensity.cc
  psi4/src/psi4/cc/ccdensity/ex_oscillator_strength.cc
  psi4/src/psi4/cc/ccdensity/ex_rotational_strength.cc
  psi4/src/psi4/cc/ccdensity/ex_sort_td_rohf.cc
  psi4/src/psi4/cc/ccdensity/ex_sort_td_uhf.cc
  psi4/src/psi4/cc/ccdensity/get_moinfo.cc
  psi4/src/psi4/cc/ccdensity/oscillator_strength.cc
  psi4/src/psi4/cc/ccdensity/rotational_strength.cc
  psi4/src/psi4/cc/ccdensity/sort_ltd_rohf.cc
  psi4/src/psi4/cc/ccdensity/sort_ltd_uhf.cc
  psi4/src/psi4/cc/ccdensity/sort_rtd_rohf.cc
  psi4/src/psi4/cc/ccdensity/sort_rtd_uhf.cc
  psi4/src/psi4/cc/ccdensity/td_cleanup.cc
  psi4/src/psi4/cc/ccdensity/transL.cc
  psi4/src/psi4/cc/ccdensity/transdip.cc
  psi4/src/psi4/cc/ccdensity/transp.cc
Labels: cc, cleanup

#2752 `get_block` with `symmetry_`
  psi4/src/psi4/libmints/matrix.cc
  tests/pytests/test_matrix.py
Labels: libmints

#2737 Remove built-in ADC module
  doc/sphinxman/source/adc.rst
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/glossary_psivariables.rst
  doc/sphinxman/source/introduction.rst
  doc/sphinxman/source/notes_c.rst
  psi4/driver/p4util/procutil.py
  psi4/driver/procrouting/proc.py
  psi4/driver/procrouting/proc_table.py
  psi4/include/psi4/psifiles.h
  psi4/src/core.cc
  psi4/src/psi4/CMakeLists.txt
  psi4/src/psi4/adc/CMakeLists.txt
  psi4/src/psi4/adc/adc.cc
  psi4/src/psi4/adc/adc.h
  psi4/src/psi4/adc/adc_main.cc
  psi4/src/psi4/adc/amps_write.cc
  psi4/src/psi4/adc/compute_energy.cc
  psi4/src/psi4/adc/construct_sigma.cc
  psi4/src/psi4/adc/denominator.cc
  psi4/src/psi4/adc/diagonalize.cc
  psi4/src/psi4/adc/differentiation.cc
  psi4/src/psi4/adc/init_tensors.cc
  psi4/src/psi4/adc/prepare_tensors.cc
  psi4/src/psi4/adc/sigma.pdf
  psi4/src/psi4/fnocc/lowmemory_triples.cc
  psi4/src/psi4/fnocc/triples.cc
  psi4/src/read_options.cc
  pytest.ini
  samples/adc1/input.dat
  samples/adc1/test.in
  samples/adc2/input.dat
  samples/adc2/test.in
  samples/pywrap-checkrun-rhf/input.dat
  samples/pywrap-checkrun-rhf/test.in
  tests/CMakeLists.txt
  tests/adc1/CMakeLists.txt
  tests/adc1/input.dat
  tests/adc1/output.ref
  tests/adc1/test_input.py
  tests/adc2/CMakeLists.txt
  tests/adc2/input.dat
  tests/adc2/output.ref
  tests/adc2/test_input.py
  tests/pytests/test_cppe.py
  tests/pywrap-checkrun-rhf/input.dat
Labels: cleanup, adc

#2753 Remove qt/pitzer from ccresponse
  psi4/src/psi4/cc/ccresponse/MOInfo.h
  psi4/src/psi4/cc/ccresponse/get_moinfo.cc
  psi4/src/psi4/cc/ccresponse/preppert.cc
  psi4/src/psi4/cc/ccresponse/sort_pert.cc
Labels: cc, cleanup
