Repository psi4/psi4, pull requests merged in 2022-06, with the labels that each got.

#2595 Make DDD work with Forte.
  psi4/driver/p4util/procutil.py
  psi4/driver/schema_wrapper.py
  psi4/src/psi4/liboptions/liboptions.cc
  psi4/src/psi4/liboptions/liboptions.h
Labels: backport, external-interface, driver

#2607 Check Docs Build for PRs in CI
  .github/workflows/README.md
  .github/workflows/docs-pr.yml
  devtools/conda-envs/docs-cf.yaml
  doc/sphinxman/source/conf.py.in
  external/upstream/qcelemental/CMakeLists.txt
  psi4/driver/pluginutil.py
  psi4/driver/util/filesystem.py
Labels: documentation

#2605 Tdscf excitations symmetry
  psi4/driver/procrouting/response/scf_response.py
  psi4/src/read_options.cc
  tests/tdscf-1/output.ref
  tests/tdscf-2/output.ref
  tests/tdscf-3/output.ref
  tests/tdscf-4/output.ref
  tests/tdscf-5/output.ref
  tests/tdscf-6/output.ref
  tests/tdscf-7/output.ref
Labels: scf, feature

#2610 Misc. cleanup
  psi4/driver/procrouting/response/scf_response.py
  psi4/src/psi4/libscf_solver/rhf.cc
  psi4/src/psi4/libscf_solver/uhf.cc
  psi4/src/psi4/libscf_solver/uhf.h
Labels: scf, cleanup

#2615 fix Psi4/Cfour intf tests after distributed driver
  psi4/driver/procrouting/interface_cfour.py
  psi4/driver/qcdb/cfour.py
  tests/cfour/CMakeLists.txt
  tests/cfour/mints5-grad/input.dat
  tests/cfour/psi-ghost-grad/input.dat
  tests/cfour/psi-mp4/input.dat
  tests/cfour/psi-rhf-mp3/input.dat
  tests/cfour/psi-rhf-scsmp2/input.dat
  tests/cfour/psi-uhf-mp3/input.dat
  tests/cfour/psi-uhf-scsmp2/input.dat
  tests/cfour/pywrap-cbs1/input.dat
  tests/cfour/scf4/input.dat
  tests/cfour/sp-rohf-ccsd-ao/input.dat
  tests/cfour/sp-rohf-ccsd/input.dat
  tests/cfour/sp-rohf-ccsd_t_-ao-ecc/input.dat
  tests/cfour/sp-rohf-ccsd_t_-ao/input.dat
  tests/cfour/sp-rohf-ccsd_t_-fc/input.dat
  tests/cfour/sp-rohf-ccsd_t_/input.dat
  tests/cfour/sp-rohf-mp4-sc/input.dat
Labels: backport, external-interface
