Repository psi4/psi4, pull requests merged in 2022-03, with the labels that each got.

#2459 Restore `psio_tocprint`
  psi4/src/psi4/libpsio/psio.h
Labels: bug, libpsio

#2314 E(30)exch-ind in SAPT2+3 without the S^2 approximation
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/sapt.rst
  psi4/src/psi4/libsapt_solver/exch-ind30.cc
  psi4/src/psi4/libsapt_solver/sapt.cc
  psi4/src/psi4/libsapt_solver/sapt.h
  psi4/src/psi4/libsapt_solver/sapt2p3.cc
  psi4/src/psi4/libsapt_solver/sapt2p3.h
  psi4/src/read_options.cc
  tests/CMakeLists.txt
  tests/sapt-exch-ind30-inf/CMakeLists.txt
  tests/sapt-exch-ind30-inf/input.dat
  tests/sapt-exch-ind30-inf/output.ref
Labels: feature, sapt

#2460 Migrate `cc38`, `cc39`
  tests/cc18/CMakeLists.txt
  tests/cc29/CMakeLists.txt
  tests/cc38/CMakeLists.txt
  tests/cc38/input.dat
  tests/cc38/output.ref
  tests/cc39/CMakeLists.txt
  tests/cc39/input.dat
  tests/cc39/output.ref
Labels: testing, cc

#2461 Migrate `cc40`, `cc41`, `cc42`, `cc43`
  tests/cc19/input.dat
  tests/cc40/CMakeLists.txt
  tests/cc40/input.dat
  tests/cc40/output.ref
  tests/cc41/CMakeLists.txt
  tests/cc41/input.dat
  tests/cc41/output.ref
  tests/cc42/CMakeLists.txt
  tests/cc42/input.dat
  tests/cc42/output.ref
  tests/cc43/CMakeLists.txt
  tests/cc43/input.dat
  tests/cc43/output.ref
Labels: testing, cc

#2462 Change TDSCF Variable Names
  doc/sphinxman/source/glossary_psivariables.rst
  doc/sphinxman/source/notes_c.rst
  psi4/driver/procrouting/response/scf_response.py
  tests/CMakeLists.txt
  tests/pytests/test_cppe.py
  tests/tdscf-1/input.dat
  tests/tdscf-1/output.ref
  tests/tdscf-2/input.dat
  tests/tdscf-2/output.ref
  tests/tdscf-3/input.dat
  tests/tdscf-3/output.ref
  tests/tdscf-4/input.dat
  tests/tdscf-4/output.ref
  tests/tdscf-5/output.ref
  tests/tdscf-6/input.dat
  tests/tdscf-6/output.ref
  tests/tdscf-7/CMakeLists.txt
  tests/tdscf-7/input.dat
  tests/tdscf-7/output.ref
Labels: api

#2467 Remove Reference to Unimplemented Method
  psi4/src/psi4/cc/cceom/Local.h
  psi4/src/psi4/cc/cceom/get_params.cc
  psi4/src/psi4/libqt/cc_excited.cc
  psi4/src/read_options.cc
Labels: api, cc, cleanup

#2388 Libint2 one electron integrals
  .azure-pipelines/azure-pipelines-linux.yml
  .azure-pipelines/azure-pipelines-windows.yml
  conda/win/meta.yaml
  doc/sphinxman/source/prog_integrals.rst
  external/upstream/libint2/CMakeLists.txt
  psi4/src/psi4/fisapt/fisapt.cc
  psi4/src/psi4/lib3index/fittingmetric.cc
  psi4/src/psi4/libcubeprop/csg.cc
  psi4/src/psi4/libmints/CMakeLists.txt
  psi4/src/psi4/libmints/angularmomentum.cc
  psi4/src/psi4/libmints/angularmomentum.h
  psi4/src/psi4/libmints/basisset.cc
  psi4/src/psi4/libmints/dipole.cc
  psi4/src/psi4/libmints/dipole.h
  psi4/src/psi4/libmints/ecpint.cc
  psi4/src/psi4/libmints/ecpint.h
  psi4/src/psi4/libmints/electricfield.cc
  psi4/src/psi4/libmints/electricfield.h
  psi4/src/psi4/libmints/electrostatic.cc
  psi4/src/psi4/libmints/electrostatic.h
  psi4/src/psi4/libmints/eribase.cc
  psi4/src/psi4/libmints/extern.cc
  psi4/src/psi4/libmints/kinetic.cc
  psi4/src/psi4/libmints/kinetic.h
  psi4/src/psi4/libmints/mintshelper.cc
  psi4/src/psi4/libmints/multipolepotential.cc
  psi4/src/psi4/libmints/multipolepotential.h
  psi4/src/psi4/libmints/multipoles.cc
  psi4/src/psi4/libmints/multipoles.h
  psi4/src/psi4/libmints/nabla.cc
  psi4/src/psi4/libmints/nabla.h
  psi4/src/psi4/libmints/oeprop.cc
  psi4/src/psi4/libmints/onebody.cc
  psi4/src/psi4/libmints/onebody.h
  psi4/src/psi4/libmints/overlap.cc
  psi4/src/psi4/libmints/overlap.h
  psi4/src/psi4/libmints/potential.cc
  psi4/src/psi4/libmints/potential.h
  psi4/src/psi4/libmints/potentialint.cc
  psi4/src/psi4/libmints/potentialint.h
  psi4/src/psi4/libmints/pseudospectral.cc
  psi4/src/psi4/libmints/pseudospectral.h
  psi4/src/psi4/libmints/quadrupole.cc
  psi4/src/psi4/libmints/quadrupole.h
  psi4/src/psi4/libmints/rel_potential.cc
  psi4/src/psi4/libmints/rel_potential.h
  psi4/src/psi4/libmints/sointegral.cc
  psi4/src/psi4/libmints/tracelessquadrupole.cc
  psi4/src/psi4/libmints/tracelessquadrupole.h
  psi4/src/psi4/libpsipcm/CMakeLists.txt
  psi4/src/psi4/libpsipcm/psipcm.cc
  psi4/src/psi4/libsapt_solver/sapt.cc
  psi4/src/psi4/scfgrad/response.cc
  psi4/src/psi4/scfgrad/scf_grad.cc
  tests/pywrap-checkrun-rhf/input.dat
Labels: documentation, libmints

#2475 EOMCC Psivar Cleanup [1/2]
  doc/sphinxman/source/glossary_psivariables.rst
  psi4/src/psi4/cc/cceom/diag.cc
  psi4/src/psi4/cc/cceom/rzero.cc
  psi4/src/psi4/cc/cceom/write_Rs.cc
  tests/cc12/CMakeLists.txt
  tests/cc12/input.dat
  tests/cc12/output.ref
  tests/cc17/CMakeLists.txt
  tests/cc17/input.dat
  tests/cc17/output.ref
  tests/cc21/CMakeLists.txt
  tests/cc22/CMakeLists.txt
  tests/cc22/input.dat
  tests/cc22/output.ref
  tests/cc23/CMakeLists.txt
  tests/cc24/CMakeLists.txt
  tests/cc25/CMakeLists.txt
  tests/cc26/CMakeLists.txt
  tests/cc27/CMakeLists.txt
  tests/cc44/CMakeLists.txt
  tests/cc44/input.dat
  tests/cc44/output.ref
  tests/cc45/CMakeLists.txt
  tests/cc45/input.dat
  tests/cc45/output.ref
  tests/cc46/CMakeLists.txt
  tests/cc47/CMakeLists.txt
  tests/cc48/CMakeLists.txt
  tests/cc49/CMakeLists.txt
  tests/cc49/input.dat
  tests/cc49/output.ref
  tests/cc50/CMakeLists.txt
  tests/cc50/input.dat
  tests/cc50/output.ref
  tests/cc51/CMakeLists.txt
  tests/cc51/output.ref
  tests/cc55/CMakeLists.txt
Labels: api, cc, cleanup

#2413 Update CMake fork of Libint2, c. 2019 -> c. 2022
  .azure-pipelines/azure-pipelines-linux.yml
  .azure-pipelines/azure-pipelines-windows.yml
  CMakeLists.txt
  external/upstream/libint2/CMakeLists.txt
  external/upstream/pybind11/CMakeLists.txt
  psi4/CMakeLists.txt
  psi4/src/CMakeLists.txt
  psi4/src/psi4/libfock/CMakeLists.txt
  psi4/src/psi4/libmints/integral.h
  psi4/src/psi4/libqt/CMakeLists.txt
  tests/pytests/test_dft_blocking.py
Labels: build, libmints, Libint2

#2494 fix up tests and bump win L2
  .azure-pipelines/azure-pipelines-windows.yml
  conda/win/meta.yaml
  tests/cc46/CMakeLists.txt
  tests/cc46/input.dat
  tests/cepa2/CMakeLists.txt
  tests/cepa2/input.dat
  tests/cisd-h2o+-1/CMakeLists.txt
  tests/cisd-h2o+-1/input.dat
  tests/json/schema-1-response/CMakeLists.txt
  tests/json/schema-1-response/input.py
Labels: Libint2

#2359 Linear Exchange Matrix Build (LinK) in Direct SCF algorithm
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/scf.rst
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/src/export_fock.cc
  psi4/src/psi4/libfock/DirectJK.cc
  psi4/src/psi4/libfock/jk.h
  psi4/src/psi4/libmints/twobody.cc
  psi4/src/psi4/libmints/twobody.h
  psi4/src/read_options.cc
  tests/CMakeLists.txt
  tests/linK-1/CMakeLists.txt
  tests/linK-1/input.dat
  tests/linK-1/output.ref
  tests/linK-2/CMakeLists.txt
  tests/linK-2/input.dat
  tests/linK-2/output.ref
  tests/linK-3/CMakeLists.txt
  tests/linK-3/input.dat
  tests/linK-3/output.ref
Labels: scf, feature

#2485 Remove Redundant Dipole/Quadrupole Code
  psi4/src/psi4/libmints/oeprop.cc
  psi4/src/psi4/libmints/oeprop.h
Labels: property

#2386 Interfaced Yukawa Libint2 ERI Kernel
  psi4/src/psi4/libmints/eri.cc
  psi4/src/psi4/libmints/eri.h
  psi4/src/psi4/libmints/integral.cc
  psi4/src/psi4/libmints/integral.h
Labels: libmints, Libint2

#2496 Arbitrary-order multipole integrals (and gradients) with McMurchie-Davidson
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/dipole.cc
  psi4/src/psi4/libmints/dipole.h
  psi4/src/psi4/libmints/integral.cc
  psi4/src/psi4/libmints/integral.h
  psi4/src/psi4/libmints/mcmurchiedavidson.cc
  psi4/src/psi4/libmints/mcmurchiedavidson.h
  psi4/src/psi4/libmints/mintshelper.cc
  psi4/src/psi4/libmints/mintshelper.h
  psi4/src/psi4/libmints/multipoles.cc
  psi4/src/psi4/libmints/multipoles.h
  psi4/src/psi4/libmints/nabla.h
  tests/pytests/test_mcmurchie_davidson.py
Labels: libmints, cleanup

#2507 Clean up OEProp pybind
  psi4/src/export_oeprop.cc
  psi4/src/psi4/libmints/oeprop.h
Labels: libmints, cleanup

#2506 Add TD-DFT psivar access pattern
  psi4/driver/procrouting/response/scf_response.py
  tests/tdscf-3/input.dat
  tests/tdscf-7/input.dat
Labels: api, dft

#2514 EOMCC Oscillator Strengths
  doc/sphinxman/source/glossary_psivariables.rst
  psi4/driver/procrouting/response/scf_response.py
  psi4/src/psi4/cc/ccdensity/Params.h
  psi4/src/psi4/cc/ccdensity/ex_oscillator_strength.cc
  psi4/src/psi4/cc/ccdensity/get_td_params.cc
  psi4/src/psi4/cc/ccdensity/globals.h
  psi4/src/psi4/cc/ccdensity/oscillator_strength.cc
  psi4/src/psi4/cc/cclambda/cclambda.cc
  tests/cc47/input.dat
  tests/cc47/output.ref
  tests/cc52/input.dat
  tests/cc52/output.ref
Labels: api, cc, cleanup

#2517 Goodbye, `osrecur`! 👋
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/CMakeLists.txt
  psi4/src/psi4/libmints/integral.cc
  psi4/src/psi4/libmints/integral.h
  psi4/src/psi4/libmints/osrecur.cc
  psi4/src/psi4/libmints/osrecur.h
  psi4/src/psi4/libmints/pseudospectral.cc
  psi4/src/psi4/libmints/pseudospectral.h
  psi4/src/psi4/libmints/rel_potential.h
Labels: libmints, Libint2

#2515 ExternalPotential in Bohr
  doc/sphinxman/source/scf.rst
  psi4/driver/__init__.py
  psi4/driver/driver.py
  psi4/driver/driver_nbody_helper.py
  psi4/driver/mdi_engine.py
  psi4/driver/procrouting/proc.py
  psi4/driver/procrouting/sapt/fisapt_proc.py
  psi4/driver/qmmm.py
  psi4/src/psi4/fisapt/fisapt.cc
  psi4/src/psi4/libmints/extern.cc
  psi4/src/psi4/libmints/extern.h
  pytest.ini
  tests/extern1/CMakeLists.txt
  tests/extern1/input.dat
  tests/extern1/test_input.py
  tests/extern2/CMakeLists.txt
  tests/extern2/input.dat
  tests/extern2/test_input.py
  tests/extern3/CMakeLists.txt
  tests/extern3/input.dat
  tests/extern3/test_input.py
  tests/fsapt-ext-abc-au/CMakeLists.txt
  tests/fsapt-ext-abc-au/input.dat
  tests/fsapt-ext-abc-au/test_input.py
  tests/fsapt-ext-abc/CMakeLists.txt
  tests/fsapt-ext-abc/input.dat
  tests/fsapt-ext-abc/test_input.py
  tests/fsapt-ext-abc2/CMakeLists.txt
  tests/fsapt-ext-abc2/input.dat
  tests/fsapt-ext-abc2/test_input.py
  tests/fsapt-ext/CMakeLists.txt
  tests/fsapt-ext/input.dat
  tests/fsapt-ext/test_input.py
  tests/nbody-multi-level/CMakeLists.txt
  tests/nbody-multi-level/input.dat
  tests/nbody-multi-level/test_input.py
Labels: schema, libmints
