Repository psi4/psi4, pull requests merged in 2023-05, with the labels that each got.

#2899 New link assignments in ISAPT
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/fisapt.rst
  psi4/driver/procrouting/sapt/fisapt_proc.py
  psi4/share/psi4/fsapt/fsapt.py
  psi4/src/export_wavefunction.cc
  psi4/src/psi4/fisapt/fisapt.cc
  psi4/src/psi4/fisapt/fisapt.h
  psi4/src/psi4/fisapt/local2.cc
  psi4/src/read_options.cc
  tests/CMakeLists.txt
  tests/fisapt-siao1/CMakeLists.txt
  tests/fisapt-siao1/input.dat
  tests/fisapt-siao1/output.ref
  tests/fisapt-siao1/test_input.py
  tests/isapt-siao1/CMakeLists.txt
  tests/isapt-siao1/input.dat
  tests/isapt-siao1/output.ref
  tests/isapt-siao1/test_input.py
Labels: sapt

#2945 Fix UKS gradient parallelization
  psi4/src/psi4/libfock/v.cc
Labels: bug, dft

#2946 optional fortran compiler, adjustable cmake config installation
  CMakeLists.txt
  external/common/hdf5/CMakeLists.txt
  external/common/lapack/CMakeLists.txt
  external/upstream/ambit/CMakeLists.txt
  external/upstream/chemps2/CMakeLists.txt
  external/upstream/libefp/CMakeLists.txt
  external/upstream/pylibefp/CMakeLists.txt
  psi4/CMakeLists.txt
  pytest.ini
  tests/cbs-xtpl-energy/test_input.py
  tests/cbs-xtpl-wrapper/test_input.py
  tests/ddd-deriv/test_input.py
  tests/nbody-cp-gradient/test_input.py
  tests/nbody-he-4b/test_input.py
  tests/nbody-multi-level/test_input.py
  tests/nbody-vmfc-hessian/test_input.py
  tests/pytests/addons.py
Labels: build

#2934 Fix fsapt + external potential - nocom/noreorient
  psi4/driver/mdi_engine.py
  psi4/driver/molutil.py
  psi4/driver/procrouting/proc.py
  tests/cc31/CMakeLists.txt
  tests/cc31/test_input.py
  tests/fsapt-ext-abc-au/input.dat
  tests/fsapt-ext/input.dat
  tests/pytests/test_mdi.py
Labels: bug, sapt

#2948 modernize paths and bugfixes
  cmake/FindPythonModule.cmake
  external/upstream/CMakeLists.txt
  psi4/__init__.py
  psi4/psi4.bat
  psi4/run_psi4.py
  psi4/share/psi4/scripts/ixyz2database.py
  psi4/versioner.py
Labels: build

#2928 Excise sq_rsp
  psi4/src/psi4/dfocc/tensors.cc
  psi4/src/psi4/dfocc/tensors.h
  psi4/src/psi4/libciomr/CMakeLists.txt
  psi4/src/psi4/libciomr/libciomr.h
  psi4/src/psi4/libciomr/sq_rsp.cc
Labels: cleanup

#2950 Added isapt-charged example
  tests/CMakeLists.txt
  tests/isapt-charged/CMakeLists.txt
  tests/isapt-charged/input.dat
  tests/isapt-charged/output.ref
  tests/isapt-charged/test_input.py
Labels: sapt

#2943 use findif for ccsd(t) conv gradients most of time
  .github/workflows/docs-pr.yml
  .github/workflows/docs.yml
  devtools/conda-envs/docs-cf.yaml
  doc/sphinxman/document_capabilities.py
  doc/sphinxman/source/cc.rst
  doc/sphinxman/source/preview_capabilities_ccenergy.rst
  doc/sphinxman/source/preview_capabilities_details.rst
  doc/sphinxman/source/preview_capabilities_summary.rst
  psi4/driver/aliases.py
  psi4/driver/driver_cbs.py
  psi4/driver/procrouting/proc.py
  psi4/share/psi4/scripts/merge_stdsuite.py
  samples/stdsuite_psi4.txt
  tests/cbs-xtpl-alpha/input.dat
  tests/cbs-xtpl-func/input.dat
  tests/cc13a/input.dat
  tests/cc13b/input.dat
  tests/cc13c/input.dat
  tests/pytests/test_standard_suite.py
  tests/pywrap-checkrun-uhf/input.dat
Labels: documentation, cc

#2903 update PCMSolver interface to v1.2.3
  .github/workflows/ecosystem.yml
  external/upstream/pcmsolver/CMakeLists.txt
  psi4/src/psi4/libpsipcm/psipcm.cc
  tests/pcmsolver/dft/input.dat
  tests/pcmsolver/dipole/input.dat
  tests/pcmsolver/ghost/input.dat
  tests/pcmsolver/scf/input.dat
  tests/pytests/test_addons.py
  tests/pytests/test_addons_qcschema.py
Labels: external-interface

#2954 CompositeJK Part 2.5: Update Reference Outputs
  tests/linK-1/output.ref
  tests/linK-2/output.ref
  tests/linK-3/output.ref
  tests/scf5/output.ref
Labels: scf

#2861 solid harmonics ordering: runtime switchable L2, build-time switchable psi
  .azure-pipelines/azure-pipelines-linux.yml
  .azure-pipelines/azure-pipelines-windows.yml
  .github/workflows/ecosystem.yml
  CMakeLists.txt
  cmake/autocmake_safeguards.cmake
  cmake/custom_int_orderings.cmake
  cmake/xhost.cmake
  devtools/conda-envs/docs-cf.yaml
  external/upstream/libint2/CMakeLists.txt
  external/upstream/libxc/CMakeLists.txt
  external/upstream/pybind11/CMakeLists.txt
  psi4/CMakeLists.txt
  psi4/driver/driver_util.py
  psi4/driver/p4util/util.py
  psi4/driver/procrouting/proc.py
  psi4/run_psi4.py
  psi4/src/CMakeLists.txt
  psi4/src/core.cc
  psi4/src/export_mints.cc
  psi4/src/psi4/libfock/CMakeLists.txt
  psi4/src/psi4/libfock/points.cc
  psi4/src/psi4/libmints/3coverlap.cc
  psi4/src/psi4/libmints/CMakeLists.txt
  psi4/src/psi4/libmints/eribase.cc
  psi4/src/psi4/libmints/onebody.cc
  psi4/src/psi4/libmints/solidharmonics.cc
  psi4/src/psi4/libpsipcm/CMakeLists.txt
  pytest.ini
  tests/fisapt-siao1/test_input.py
  tests/freq-masses/CMakeLists.txt
  tests/freq-masses/test_input.py
  tests/gcp/hf3c-hessian/CMakeLists.txt
  tests/gcp/hf3c-hessian/test_input.py
  tests/nbody-vmfc-hessian/CMakeLists.txt
  tests/nbody-vmfc-hessian/test_input.py
  tests/psi4numpy/rhf-hessian/CMakeLists.txt
  tests/psi4numpy/rhf-hessian/test_input.py
  tests/pytests/test_dertype.py
  tests/pytests/test_standard_suite.py
  tests/pytests/test_vibanalysis.py
  tests/scf-dipder/CMakeLists.txt
  tests/scf-dipder/test_input.py
  tests/scf-hess1/CMakeLists.txt
  tests/scf-hess1/input.dat
  tests/scf-hess1/test_input.py
  tests/scf-hess2/CMakeLists.txt
  tests/scf-hess2/input.dat
  tests/scf-hess2/test_input.py
  tests/scf-hess3/CMakeLists.txt
  tests/scf-hess3/test_input.py
  tests/scf-hess4/CMakeLists.txt
  tests/scf-hess4/test_input.py
  tests/scf-hess5/CMakeLists.txt
  tests/scf-hess5/test_input.py
Labels: libmints, Libint2

#2952 Fix tests to reflect pyddx 0.4
  .github/workflows/ecosystem.yml
  external/upstream/ddx/CMakeLists.txt
  psi4/driver/procrouting/solvent/ddx.py
  tests/pytests/test_ddx.py
Labels: external-interface

#2956 Removed ambiguous (and incorrect) dipole printing in ISAPT/C
  psi4/src/psi4/fisapt/fisapt.cc
Labels: sapt

#2958 Fix #1989
  psi4/src/psi4/libmints/wavefunction.cc
  psi4/src/psi4/libmints/wavefunction.h
  tests/pytests/test_wfn.py
Labels: bug

#2959 V18 misc
  .azure-pipelines/azure-pipelines-windows.yml
  .github/workflows/ecosystem.yml
  README.md
  codemeta.json
  conda/win/meta.yaml
  devtools/conda-envs/Linux-aux-maxeco.yaml
  devtools/conda-envs/Linux-buildrun-maxeco.yaml
  devtools/conda-envs/macOS-aux-maxeco.yaml
  devtools/conda-envs/macOS-buildrun-maxeco.yaml
  doc/sphinxman/source/build_faq.rst
  doc/sphinxman/source/build_obtaining.rst
  doc/sphinxman/source/build_planning.rst
  doc/sphinxman/source/conda.rst
  doc/sphinxman/source/introduction.rst
  psi4/driver/driver_cbs.py
  psi4/driver/driver_findif.py
  psi4/driver/driver_nbody.py
  psi4/extras.py
  tests/pytests/addons.py
  tests/pytests/test_ddx.py
Labels: testing

#2963 Fix bug in lpb fock routine and update tests
  external/upstream/ddx/CMakeLists.txt
  psi4/driver/procrouting/solvent/ddx.py
  tests/pytests/test_ddx.py
Labels: bug, backport, external-interface

#2851 Implement PAO slices in DLPNO-MP2 Integrals
  .azure-pipelines/azure-pipelines-windows.yml
  .github/workflows/ecosystem.yml
  psi4/src/psi4/dlpno/mp2.cc
  psi4/src/psi4/dlpno/mp2.h
Labels: efficiency
