Repository psi4/psi4, pull requests merged in 2023-06, with the labels that each got.

#2977 Fix #2976
  psi4/src/psi4/dfmp2/mp2.cc
  tests/CMakeLists.txt
  tests/dfmp2-5/CMakeLists.txt
  tests/dfmp2-5/input.dat
  tests/dfmp2-5/output.ref
  tests/dfmp2-5/test_input.py
Labels: crash, dfmp2

#2984 sanitize molecule names for dfhelper
  psi4/src/psi4/lib3index/dfhelper.cc
  tests/pytests/test_misc.py
Labels: bug, backport

#2986 Fix #2985: Symmetry OEINTS
  psi4/src/psi4/libmints/mintshelper.cc
  tests/pytests/test_mints.py
Labels: libmints

#2981 More SCF Convergence Control for COSX Final Grid
  doc/sphinxman/source/scf.rst
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/src/psi4/libfock/CompositeJK.cc
  psi4/src/read_options.cc
Labels: scf

#2987 Add ao_f12g12() and ao_double_commutator() for a quadruplet of bases
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/mintshelper.cc
  psi4/src/psi4/libmints/mintshelper.h
Labels: libmints

#2988 fix plugin for doccpi_ and misc
  doc/sphinxman/source/manage_release.rst
  psi4/driver/p4util/python_helpers.py
  psi4/share/psi4/plugin/wavefunction/wavefunction.cc.template
  tests/pytests/test_cppe.py
  tests/scf-ecp/CMakeLists.txt
  tests/scf-ecp/test_input.py
Labels: backport
