Repository psi4/psi4, pull requests merged in 2023-04, with the labels that each got.

#2918 Extend ddx interface by support for dd-LPB
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/ddx.rst
  external/upstream/ddx/CMakeLists.txt
  psi4/driver/procrouting/proc.py
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/driver/procrouting/solvent/ddx.py
  psi4/src/read_options.cc
  tests/pytests/test_ddx.py
Labels: external-interface

#2906 Better Error Message for Issue #2890
  psi4/src/psi4/libfock/DFJCOSK.cc
Labels: bug

#2848 DFJK Expert I/O Control Part 1: MemDFJK
  doc/sphinxman/source/scf.rst
  psi4/src/export_fock.cc
  psi4/src/psi4/lib3index/dfhelper.cc
  psi4/src/psi4/lib3index/dfhelper.h
  psi4/src/psi4/libfock/MemDFJK.cc
  psi4/src/psi4/libfock/jk.cc
  psi4/src/psi4/libfock/jk.h
  psi4/src/psi4/libscf_solver/sad.cc
  psi4/src/read_options.cc
Labels: scf

#2927 Remove unused/deprecated schmidt_add and normalize fns from libqt
  psi4/src/psi4/libqt/CMakeLists.txt
  psi4/src/psi4/libqt/normalize.cc
  psi4/src/psi4/libqt/qt.h
  psi4/src/psi4/libqt/schmidt_add.cc
Labels: cleanup

#2895 daxpby workaround
  CMakeLists.txt
  psi4/header.py
  psi4/src/export_mints.cc
  psi4/src/psi4/libqt/CMakeLists.txt
  psi4/src/psi4/libqt/blas_intfc.cc
  psi4/src/psi4/libqt/lapack_intfc.cc
  psi4/src/psi4/libqt/qt.h
Labels: build

#2804 Modernize SAPTDIIS label generation
  psi4/src/psi4/libpsi4util/libpsi4util.h
  psi4/src/psi4/libpsi4util/process.h
  psi4/src/psi4/libpsi4util/stl_string.cc
  psi4/src/psi4/libsapt_solver/disp2ccd.cc
  psi4/src/psi4/libsapt_solver/sapt2p.h
Labels: cleanup

#2924 DFJK Expert I/O Control Part 2: DiskDFJK
  doc/sphinxman/source/scf.rst
  psi4/src/psi4/libfock/CDJK.cc
  psi4/src/psi4/libfock/DiskDFJK.cc
  psi4/src/psi4/libfock/jk.cc
  psi4/src/psi4/libfock/jk.h
  psi4/src/read_options.cc
Labels: scf

#2926 DFJK Expert I/O Control Bonus: PKJK
  psi4/driver/procrouting/scf_proc/scf_iterator.py
  psi4/src/core.cc
  psi4/src/psi4/libfock/PKmanagers.cc
  psi4/src/read_options.cc
Labels: scf
