Repository psi4/psi4, pull requests merged in 2023-07, with the labels that each got.

#2972 fix pcmsolver on windows
  psi4/driver/p4util/python_helpers.py
  psi4/extras.py
Labels: backport

#3002 Implement another variant of the Hückel guess.
  doc/sphinxman/source/bibliography.rst
  doc/sphinxman/source/scf.rst
  psi4/driver/procrouting/proc.py
  psi4/src/psi4/libscf_solver/hf.cc
  psi4/src/psi4/libscf_solver/hf.h
  psi4/src/psi4/libscf_solver/sad.cc
  psi4/src/psi4/libscf_solver/sad.h
  psi4/src/read_options.cc
  tests/pytests/test_scf_options.py
  tests/scf-guess/input.dat
Labels: scf

#3007 threading test patch
  psi4/share/psi4/scripts/test_threading.py
  psi4/src/psi4/libfock/DiskDFJK.cc
Labels: backport

#2992 UKS LDA Hessian
  doc/sphinxman/source/preview_capabilities_scf.rst
  psi4/driver/procrouting/proc.py
  psi4/src/psi4/libfock/v.cc
  psi4/src/psi4/libfock/v.h
  psi4/src/psi4/scfgrad/jk_grad.cc
  psi4/src/psi4/scfgrad/response.cc
  psi4/src/psi4/scfgrad/scf_grad.cc
  psi4/src/psi4/scfgrad/scf_grad.h
  samples/stdsuite_psi4.txt
  tests/CMakeLists.txt
  tests/dft-freq-analytic/CMakeLists.txt
  tests/dft-freq-analytic1/CMakeLists.txt
  tests/dft-freq-analytic1/input.dat
  tests/dft-freq-analytic1/output.ref
  tests/dft-freq-analytic1/test_input.py
  tests/dft-freq-analytic2/CMakeLists.txt
  tests/dft-freq-analytic2/input.dat
  tests/dft-freq-analytic2/output.ref
  tests/dft-freq-analytic2/test_input.py
  tests/pytests/standard_suite_ref_local.py
  tests/pytests/test_standard_suite.py
Labels: feature, dft
