Repository psi4/psi4, pull requests merged in 2024-03, with the labels that each got.

#3123 Docs: add tabbing between psithon and psi api
  doc/sphinxman/source/conf.py.in
  doc/sphinxman/source/psistyle.py
  doc/sphinxman/source/psithoninput.rst
Labels: documentation

#3142 Pass frozen-core information from SAPT(DFT) to FISAPT dispersion
  psi4/driver/procrouting/sapt/sapt_mp2_terms.py
  psi4/driver/procrouting/sapt/sapt_proc.py
Labels: sapt

#3143 Add creation of Eigen::Map representations of Psi4 matrices
  psi4/src/psi4/libmints/matrix.cc
  psi4/src/psi4/libmints/matrix.h
Labels: libmints
