Repository psi4/psi4, pull requests merged in 2024-06, with the labels that each got.

#3113 require c++20
  .azure-pipelines/azure-pipelines-windows.yml
  CMakeLists.txt
  cmake/custom_cxxstandard.cmake
  doc/sphinxman/source/build_planning.rst
  doc/sphinxman/source/introduction.rst
  external/upstream/einsums/CMakeLists.txt
Labels: build

#3168 Throw PSIEXCEPTION instead of calling abort() in detci
  psi4/src/psi4/detci/import_vector.cc
  psi4/src/psi4/detci/params.cc
Labels: cleanup

#2473 Refactor `PseudospectralInts` using Libint2
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/CMakeLists.txt
  psi4/src/psi4/libmints/electricfield.cc
  psi4/src/psi4/libmints/integral.cc
  psi4/src/psi4/libmints/integral.h
  psi4/src/psi4/libmints/matrix.cc
  psi4/src/psi4/libmints/mintshelper.cc
  psi4/src/psi4/libmints/mintshelper.h
  psi4/src/psi4/libmints/potential.cc
  psi4/src/psi4/libmints/potential_erf.cc
  psi4/src/psi4/libmints/potential_erf.h
  psi4/src/psi4/libmints/rel_potential.cc
  psi4/src/psi4/libmints/tracelessquadrupole.cc
  tests/pytests/test_potential_erf.py
Labels: api, libmints, cleanup, Libint2

#3157 Least Squares Tensor Hypercontraction (LS-THC) for ERIs (Part 1)
  doc/sphinxman/source/bibliography.rst
  psi4/src/export_mints.cc
  psi4/src/psi4/libmints/CMakeLists.txt
  psi4/src/psi4/libmints/thc_eri.cc
  psi4/src/psi4/libmints/thc_eri.h
  psi4/src/read_options.cc
  tests/pytests/test_thc_eri.py
Labels: libmints
